<div class="container">
  <div class="row footer-cont">
    <div class="col-6">
      testApp
    </div>
    <div class="col-6">
      testApp
    </div>

    <!-- <div class="col-12 footer-color-8">
      footer color 8
    </div>
    <div class="col-12 footer-color-4">
      footer color 4
    </div>
    <div class="col-12 footer-color-5">
      footer color 5
    </div>
    <div class="col-12 footer-color-9">
      footer color 9
    </div>
    <div class="col-12 footer-color-7">
      footer color 7
    </div> -->

  </div>
</div>