@import '../../../styles.scss';

.footer-color-1{
    background-color: $dark-blue;
}
.footer-color-2{
    background-color: $teal;
}
.footer-color-3{
    background-color: $off-white;
}
// .footer-color-4{
//     background-color: $sky-blue;
// }
// .footer-color-5{
//     background-color: $pastel-peach;
// }
// .footer-color-7{
//     background-color: $off-white-1;
// }
// .footer-color-8{
//     background-color: $off-white-2;
// }
// .footer-color-9{
//     background-color: $granite;
// }

.footer-cont{
    justify-content: center; 
    background-color: $off-white;
    color: $dark-blue;
    font-family: $source_sans;
    font-weight: 900;
    font-size: 30px;
    padding: 60px 0 0 0;
}

.footer-bar{
    background-color: $dark-blue;
    padding: 11px 0;
    // border-radius: 40px 40px 0 0;
}

.footer-text{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-style{
    font-family: $source_sans;
    font-weight: 400;
    font-size: 16px;
    color: $dark-blue;
}

.links-cont{
    a{
        margin: 0 15px;
    }
}