@import "../../../styles.scss";

.bg-row {
  background-image: url(../../../assets/img/bg.jpg);
  background-size: cover;
  // border-bottom-left-radius: 170px 35px;
  // border-bottom-right-radius: 170px 35px;
  height: 100vh;
  // box-shadow: 2px 3px 31px -6px rgba(0, 0, 0, 0.75);
}

.content{
    margin-top: 30px;
}

.page-title{
  font-family: $source_sans;
  font-weight: 900;
}
.page-description{
  font-family: $source_sans;
  font-weight: 200;
  width: 60%;
}

.title{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 50px;
}

.cta-style{
  width: 180px;
  background-color: $teal;
  font-family: $source_sans;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  box-shadow: -1px 0px 17px -8px rgba(0,0,0,0.75);

  &:focus{
    outline: none;
  }

}
