@import "../../../styles.scss";

.bg-row {
  background-image: url(../../../assets/img/bg.jpg);
  background-size: cover;
  border-bottom-left-radius: 170px 35px;
  border-bottom-right-radius: 170px 35px;
  height: 50vh;
  box-shadow: 2px 3px 31px -6px rgba(0, 0, 0, 0.75);
}

.content{
    margin-top: 30px;
}
