<div class="container-fluid">
  <div class="row list-row">

  </div>

  <div class="row content-song-page">
    <div class="col-12 title-song">
      <h2 class="song-title">Worthy Is The Lamb</h2>
      <p class="song-author">Hillsong</p>
    </div>
    <div class="col-12">
      <pre data-key="G">
            C           G/B
            Thank you for the cross, Lord 
                              C     D   G
            Thank you for the price you paid
                           Em                D        C
            Bearing all my sin and shame, in love you came
                Am    G/B    D
            And gave Amazing Grace
                              C           G/B
            Thank you for the scars, Lord 
                              C    D       G
            Thank you for the nail-pierced hands
                            Em                  D     C
            Wash me in Your cleansing flow, now all I know
                    Am       G/B   D
            Your forgiveness and embrace
            
            G             D/F#
            Worthy is the Lamb
            Am     G/B    C
            Seated on the throne
               D         D/C      G/B  C
            We crown You now with many crowns
                Am       G   D
            You reign victorious
            G               D/F#
            High and lifted up
            Am     G/B    C
            Jesus, Son of God
                D          D/C     G/B  C     D
            The darling of Heaven, crucified  
                          Am   G/B C
            Worthy is the Lamb     
                          Am   G/B D
            Worthy is the Lamb        
        </pre>
    </div>
  </div>
  <div class="row">
    <div class="col-12 video-cont">
      <iframe class="video" width="100%" height="100%" src="https://www.youtube.com/embed/V-cd5prE4f0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>