<div class="container-fluid">
  <div class="row list-row">

  </div>

  <div class="row content-song-page">
    <div class="col-12 title-song">
      <h2 class="song-title">Song page</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
        <pre data-key="C">
             C              G                 Am          F
      When I find myself in times of trouble, Mother Mary comes to me
      C                 G              F   C/E   Dm   C
      Speaking words of wisdom, let it be
      
          C             G                Am                F
      And in my hour of darkness, She is standing right in front of me
      C                 G              F   C/E   Dm   C
      Speaking words of wisdom, let it be
      
             Am         G          F          C
      Let it be, let it be, let it be, let it be
                       G              F   C/E   Dm   C
      Whisper words of wisdom, let it be
        </pre>
    </div>
  </div>
</div>