<div class="container-fluid">
  <div class="row list-row">

  </div>

  <div class="row content-song-page">
    <div class="col-12 title-song">
      <h2 class="song-title">Song page</h2>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12">
      <button id="button-fullscreen"></button>
      <div class="transpose-wrapper">
        <label for="transpose">Steps:</label>
        <button class="plus">&plus;</button>
        <input id="transpose" type="tel" value="0" />
        <button class="minus">&minus;</button>
      </div>
      <div class="left">
        <label>
          <span>Paste chords here:</span>
          <textarea id="original">A      Bm    D#
        Paste the CHORDS,
        
        F/C      C7      d7
        you want transposed!</textarea>
        </label>
      </div>
      <div class="right">
        <label>
          <span>Result:</span>
          <div id="result">

          </div>
        </label>
      </div>
    </div>
  </div> -->
</div>